div{
    background: linear-gradient(to right, rgb(8, 8, 8), rgb(53, 52, 52));
    color: white;

    text-align: left;
    font-family: arial;

}

h3, h2, h4 {
    text-shadow: 0px 0px 5px rgb(119, 117, 117);
    background: none;
    padding: 10px;
    padding-top: 30PX;
    padding-left: 55px;
}

td{
    color: white;
}

.mi{
    background: none;
    
}

.btn2{
    margin-left: 70px;
    margin-top: 20px;
}

.grr{
    padding-top: 40px;
  
}