
    <div class="row">
        <div >
            <button type="button" class="btn btn-light" routerLink="/editacercade/1" *ngIf="isLogged">
                Editar persona
            </button>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 mi2" >
            <picture>
                <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
            </picture>
            
        </div>
        <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 mi">
            <h2 id="nombre">  {{persona.nombre}}{{persona.apellido}}</h2>
            <p>Estudiante de Ingeniería en Sistemas</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6 mi">
            <span>
                <h2>Acerca de mí...</h2>
                <p>{{persona.descripcion}}</p>
            </span>
        </div>
    </div>
