<div class="row">
 <div class="container">
    <div class="logo">
        <img src="../../../assets/APLogo.png" id="logoap" >
    </div>
    <div >
        <div class="redes">
            <a href="https://www.facebook.com/profile.php?id=100024604601408"><img src="../../../assets/facebook.png" id="redes"></a>
            <a href="https://www.instagram.com/lucass_ortiiz/"><img src="../../../assets/instagram.png" id="redes"></a>
            <a href="https://github.com/espaarg"><img src="../../../assets/github.png" id="redes"></a>
            <a href="https://twitter.com/LucassOrtiiz"><img src="../../../assets/twitter.png" id="redes"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()"*ngIf="!isLogged">INGRESAR</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">CERRAR SESION</button>
        </div>
        
    </div>
 </div>

</div>